button {
    margin: 15px auto;
    width: 50%;
    display: block;
}

#displayTimed {
    background-color: DodgerBlue;
}

#displayOn {
    background-color: MediumSeaGreen;
}

#hide {
    background-color: IndianRed;
}

.select {
    margin: 15px auto;
    width: 50%;
    display: block;
}